
# Strip whitespace
alias wstrip="sed 's/[\n ]//g'"
alias fiddle="sudo tcpdump -s 1024 -l -A dst"
alias attach-monitor="xrandr --output DP1 --auto --left-of eDP1"
alias detach-monitor="xrandr --output DP1 --off"
