
# Strip whitespace
alias wstrip="sed 's/[\n ]//g'"
alias fiddle="sudo tcpdump -s 1024 -l -A dst"
alias detach-monitor="xrandr --output DP1 --off"
alias save-atom-packages="apm list --installed --bare > ~/dotfiles/atom-package.list"
alias load-atom-packages="apm install --packages-file ~/dotfiles/atom-package.list"

alias d="docker-compose"
alias dl="docker-compose logs --tail=0 -f"
alias ls="ls --color=auto"
alias dj="docker-compose exec django python manage.py"
alias ai="sudo apt-get update && sudo apt-get install $@"
