[alias]
  merges = git merge -s recursive -Xignore-space-change
  st = status
  co = checkout
  ch = checkout
  cm = commit
[core]
	excludesfile = /Users/clark/dotfiles/.gitignore
	editor = vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	smudge = git-lfs smudge %f
	required = true
	clean = git-lfs clean %f
[credential]
	helper = cache
[user]
	email = you@example.com
	name = Your Name
