"*":
  "atom-beautify":
    css:
      beautify_on_save: true
    general:
      _analyticsUserId: "cb8f1375-c99f-4bbd-b25d-08e45440e674"
    html:
      disabled: true
    jade:
      disabled: true
    js:
      beautify_on_save: true
      indent_level: 2
      wrap_line_length: 199
    python:
      beautify_on_save: true
      disabled: true
      max_line_length: 119
  core:
    audioBeep: false
    autoHideMenuBar: true
    closeDeletedFileTabs: true
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "*.sql"
    ]
    projectHome: "/home/clark/apps"
    telemetryConsent: "limited"
  "django-templates":
    defaultToDjangoTemplatesForFilePathsContaining: [
      "templates"
    ]
  editor:
    fontSize: 13
    invisibles:
      cr: "\\"
      lf: "\\n"
      space: "."
      tab: "-"
    preferredLineLength: 119
    scrollSensitivity: 80
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    tabLength: 4
    tabType: "soft"
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "cfa2a248-ca96-4f6f-a879-dd795c166149"
  linter: {}
  "linter-flake8":
    executablePath: "~/.env/bin/flake8"
    flakeErrors: true
    ignoreErrors: [
      "E265"
    ]
    maxLineLength: 119
    projectConfigFile: [
      ".flake8"
    ]
    pycodestyleErrorsToWarnings: true
    selectErrors: [
      "E"
      "W"
    ]
  "linter-js-standard":
    lintHtmlFiles: true
  "linter-ui-default":
    panelHeight: 447.578125
    showProviderName: true
  "prettier-atom":
    formatOnSaveOptions:
      respectEslintignore: false
    prettierOptions:
      printWidth: 119
    useEslint: true
  "python-autopep8":
    formatOnSave: true
    maxLineLength: 119
  "python-black": {}
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".html.source":
  editor:
    tabLength: 2
"linter-flake8":
  executablePath: "/home/clark/.env/bin/flake8"
